<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/about-us.css">
    <title>About Us</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(function() {
            $("#includeHeader").load("/header.html");
            $("#includeFooter").load("/footer.html");
        });
    </script>
</head>

<body>

    <div id="includeHeader"></div>


    <!-- Hero Section  -->
    <section id="hero">
        <div class="hero container">
            <div class="heading">
                <h1>We are pledged to reach every desirous learner to make their learning more meaningful at affordable cost.</h1>
            </div>
        </div>
    </section>
    <!-- End Hero Section  -->

    <!-- About Section -->
    <section id="about">
        <div class="about container">
            <div class="col-left">
                <div class="about-img">
                    <img src="/ocera-edtech-logo.jpg" alt="img">
                </div>
            </div>
            <div class="col-right">
                <h1 class="section-title">About <span>us</span></h1>
                <p>
                    The Indian education system is about to witness the dawn of a New Era after the implementation of the New Education Policy (NEP 2020). A wholesome development of the learner is the main focus of this policy to reach the goal of "Unnat Bharat". In order
                    to realize such a dream, education in blended mode is the need of the hour. The blending of languages, cultures, history, and futuristic ideas in a proportionate manner is required to have a coherent ecosystem at a higher education
                    level. Online courses that are aligned with the curriculum would complement such an education system.
                    <br>OCera EdTech is an online platform, which aims to offer well-structured courses of higher education that are aligned with a multidisciplinary and holistic education. The National Educational Alliance for Technology (NEAT) has motivated
                    us to provide equal opportunities for quality education to all through online courses. This portal supports blended education as envisioned in NEP 2020. The courses are in the realm of different disciplines, skill development, personal
                    development, value-added, and value-based education and meet the needs of Indian learners. The courses would help in supplementing the skills and values required for a career in decent jobs or entrepreneurship.
                    <br>OCera EdTech is open to uniting with HEIs and Industries to bridge the Industry-academia gap. The courses would be offered in bilingual mode (Hinglish), keeping the language barrier, in mind. This would contribute to the overall
                    development and sustainability of learners in higher education as they would be able to visit the course at their convenience. The platform is user friendly and easily accessible.
                </p>
            </div>
        </div>
    </section>
    <!-- End About Section -->


    <!-- Vision Section -->
    <section id="vision">
        <div class="projects container">
            <div class="projects-header">
                <!-- <h1 class="section-title">Vis<span>ion</span></h1> -->
            </div>
            <div class="all-projects">
                <div class="project-item">
                    <div class="project-img">
                        <img src="/about-us/vision.png" alt="img">
                        <h1>VISION</h1>
                    </div>
                    <div class="project-info">
                        <h1><b>1.</b> To provide online courses that meet the needs of Indian learners thereby supporting the blended mode of education as envisioned in NEP 2020.</h1>
                        <br><br>
                        <h1><b>2.</b> To develop/ create/ host online courses that support the idea of multidisciplinary and holistic education.</h1>
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-img">
                        <img src="/about-us/mission.jpg" alt="img">
                        <h1>MISSION</h1>
                    </div>
                    <div class="project-info">
                        <h1>To offer scholarly teachings that take into account the shifted enthusiasm of youth to make a new information age where learning innovation and advancements are incorporated in the form of online courses.</h1>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End Vision Section -->

    <!-- Core Values -->
    <section id="cv">
        <div class="cv">
            <div class="cv-header">
                <h1 class="section-title">Our Core <span>Values</span></h1>
            </div>
            
            <div class="cv-container">
                <div class="cv-card">
                    <div class="cv-imgBx">
                        <img src="/about-us/perseverance.jpeg">
                    </div>
                    <div class="cv-content">
                        <p>We refuse to give up in the hardest time and are determined to impart in-depth education to learners.</p>
                    </div>
                </div>

                <div class="cv-card">
                    <div class="cv-imgBx">
                        <img src="/about-us/team-spirit.jpeg">
                    </div>
                    <div class="cv-content">
                        <p>Achieving exceptional and favorable results by being together as team and realize the capabilities of each individual.</p>
                    </div>
                </div>

                <div class="cv-card">
                    <div class="cv-imgBx">
                        <img src="/about-us/integrity.jpeg">
                    </div>
                    <div class="cv-content">
                        <p>We are focused on moral and dependable conduct in our activities with genuineness, boldness, and reliability.</p>
                    </div>
                </div>

                <div class="cv-card">
                    <div class="cv-imgBx">
                        <img src="/about-us/passion.jpg">
                    </div>
                    <div class="cv-content">
                        <p>We fervor to dominate through quality, amuse our students and learners and to give space to passionate educators.</p>
                    </div>
                </div>

                <div class="cv-card">
                    <div class="cv-imgBx">
                        <img src="/about-us/diversity.jpeg">
                    </div>
                    <div class="cv-content">
                        <p>We esteem to improve association & comprehension among different gatherings and develop enhanced learning in a worldwide network.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Core Values -->

    <div id="includeFooter"></div>
</body>

</html>