<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/be-an-educator.css">
    <title>Be An Educator</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(function() {
            $("#includeHeader").load("/header.html");
            $("#includeFooter").load("/footer.html");
        });
    </script>
    <style>
        a {
            color: blue;
            text-decoration: underline;
        }
    </style>
</head>

<body>

    <div id="includeHeader"></div>


    <!-- Hero Section  -->
    <section id="hero">
        <div class="hero container">
            <div class="heading">
                <h1>Partner the <span></span></h1>
                <h1>Educational <span></span></h1>
                <h1>Transformation <span></span></h1>
                <a href="/login-signup" type="button" class="cta">Be an Educator</a>
            </div>
        </div>
    </section>
    <!-- End Hero Section  -->

    <!-- Expand your horizon -->
    <section id="horizon">
        <div class="horizon container">
            <div class="horizon-header">
                <h1 class="section-title">Expand Yo<span>ur Horizon</span></h1>
            </div>
            <div class="all-views">
                <div class="view-item-main">
                    <div class="view-item item1"></div>
                    <h1>Create Global Identity</h1>
                </div>
                <div class="view-item-main">
                    <div class="view-item item2"></div>
                    <h1>Connect with the Learner <br>beyond Boundaries</h1>
                </div>
                <div class="view-item-main">
                    <div class="view-item item3"></div>
                    <h1>Help the Community</h1>
                </div>
                <div class="view-item-main">
                    <div class="view-item item4"></div>
                    <h1>Spread your Knowledge</h1>
                </div>
                <div class="view-item-main">
                    <div class="view-item item5"></div>
                    <h1>Earn Money</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- End Horizon -->

    <!-- Course Structure -->
    <div class="course_structure">
        <h1 class="section-title">How to be part<span> of OCera EdTech</span></h1>
        <p class="p_steps">Follow the given steps</p>
        <center>
            <div class="flexbox">
                <div class="flex flexbottom" id="testvideoflex">
                    <h1 class="stepNumber" id="step1">Step 1</h1>
                    <div class="textbox">
                        <p class="data-name" id="testVideoAndFeedback"><a href="/login-signup">Signup</a> on OCera EdTech as Educator</p>
                    </div>
                    <div class="imgbox">
                        <i class="fas fa-user-plus i_style fa-5x"></i>
                    </div>
                </div>
                <div class="flex flextop" id="feedbackflex">
                    <div class="imgbox">
                        <i class="fas fa-search i_style fa-5x"></i>
                    </div>
                    <h1 class="stepNumber styling" id="step2">Step 2</h1>
                    <div class="textbox">
                            <p class="styling" id="getFeedback"><span class="data-name">Select the category<br>and choose the course</span></p>
                    </div>

                </div>
                <div class="flex flexbottom">
                    <h1 class="stepNumber">Step 3</h1>
                    <div class="textbox">
                            <p id="createNewCourse" class="data-name">Design the Curriculum</p>
                    </div>
                    <div class="imgbox">
                        <i class="fas fa-paste i_style fa-5x"></i>
                    </div>
                </div>
                <div class="flex flextop styling">
                    <div class="imgbox">
                        <i class="fas fa-video i_style fa-5x"></i>
                    </div>
                    <h1 class="stepNumber styling">Step 4</h1>
                    <div class="textbox">
                        <p class="styling"><span id="signMOU" class="data-name">Prepare the modules and sample video and submit</span></p>
                    </div>

                </div>
                <div class="flex flexbottom">
                    <h1 class="stepNumber">Step 5</h1>
                    <div class="textbox">
                            <p id="courses" class="data-name">Make your Course and Launch</p>
                    </div>
                    <div class="imgbox">
                        <i class="fas fa-check-square i_style fa-5x"></i>
                    </div>
                </div>
            </div>
        </center>
    </div>
    <!-- End Course Strcuture -->

    <!-- Get Assisstance -->
    <div class="assisstance">
        <div class="left-assisstance">
            <h1>Get Assisstance</h1>
            <p class="short">Please let us know if we can help you to make your journey easy</p>
        </div>
        <div class="right-assisstance">
            <h1 class="section-title assisstance-title">Together, We Can <span>Bring The Change</span></h1>
            <h3>Join Our Team For a Cause</h3>
            <a href="/login-signup"><button class="cta" style="cursor: pointer;">Start Now</button></a>
        </div>
    </div>
    <!-- End Assisstance -->

    <div id="includeFooter"></div>

</body>

</html>