<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/index.css">
    <title>OCera EdTech</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(function() {
            $("#includeHeader").load("header.html");
            $("#includeFooter").load("footer.html");
        });
    </script>
</head>

<body>
    <div id="includeHeader"></div>


    <!-- Carousel -->
    <section id="hero">
        <div class="img-slider container">
            <div class="slide active">
                <img src="index/interactive-classes.jpg" alt="">
                <div class="info">
                    <h1>Opening New Avenues of Knowledge<span></span></h1>
                    <p>Online Portal for Best Learning</p>
                    <div class="hero-buttons">
                        <a href="/learn-as-student" type="button" class="cta">Learn as Student</a>
                        <a href="/be-an-educator" type="button" class="cta">Be an Educator</a>
                    </div>
                </div>
            </div>
            <div class="slide">
                <img src="/index/online_learning.jpg" alt="">
                <div class="info">
                    <h1>Helping you to take the charge of your own learning</h1>
                    <p>Specialised Education as per NEP 2020</p>
                    <div class="hero-buttons">
                        <a href="/learn-as-student" type="button" class="cta">Learn as Student</a>
                        <a href="/be-an-educator" type="button" class="cta">Be an Educator</a>
                    </div>
                </div>
            </div>
            <div class="slide">
                <img src="index/joyful-business-team-joining-hands-together.jpg" alt="">
                <div class="info">
                    <h1>Education has no boundaries, it just starts when we wish to learn.</h1>
                    <p>Education is the key to unlock success</p>
                    <div class="hero-buttons">
                        <a href="/learn-as-student" type="button" class="cta">Learn as Student</a>
                        <a href="/be-an-educator" type="button" class="cta">Be an Educator</a>
                    </div>
                </div>
            </div>
            <div class="navigation">
                <div class="btn active"></div>
                <div class="btn"></div>
                <div class="btn"></div>
            </div>
        </div>
    </section>
    <!-- End Carousel -->

    <!-- Features -->
    <section id="cv">
        <div class="cv">
            <div class="cv-header">
                <h1 class="section-title">Dedicated to help you <span>achieve the best</span></h1>
            </div>
            <div class="cv-container">
                <div class="cv-card">
                    <div class="cv-imgBx">
                        <img src="index/As per NEP.png">
                    </div>
                    <div class="cv-content">
                        <p>On the Vision of NEP 2020</p>
                    </div>
                </div>

                <div class="cv-card">
                    <div class="cv-imgBx">
                        <img src="index/Bilingual.png">
                    </div>
                    <div class="cv-content">
                        <p>Preferable Bilingual mode</p>
                    </div>
                </div>

                <div class="cv-card">
                    <div class="cv-imgBx">
                        <img src="index/learn at your pace.png">
                    </div>
                    <div class="cv-content">
                        <p>Learn at your Pace</p>
                    </div>
                </div>

                <div class="cv-card">
                    <div class="cv-imgBx">
                        <img src="index/affordable.png">
                    </div>
                    <div class="cv-content">
                        <p>Affordable Cost</p>
                    </div>
                </div>

                <div class="cv-card">
                    <div class="cv-imgBx">
                        <img src="index/aligned with curriculum.png">
                    </div>
                    <div class="cv-content">
                        <p>Aligned with Curriculum</p>
                    </div>
                </div>

                <div class="cv-card">
                    <div class="cv-imgBx">
                        <img src="index/Equal opportunities of learning.png">
                    </div>
                    <div class="cv-content">
                        <p>Equal opportunities of Learning</p>
                    </div>
                </div>

                <div class="cv-card">
                    <div class="cv-imgBx">
                        <img src="index/Acquire New Skills.png">
                    </div>
                    <div class="cv-content">
                        <p>Acquire New Skills</p>
                    </div>
                </div>

                <div class="cv-card">
                    <div class="cv-imgBx">
                        <img src="index/Meets the needs of learners.png">
                    </div>
                    <div class="cv-content">
                        <p>Meeting the needs of Learners</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Features -->

    <!-- Courses -->
    <section id="courses">
        <div>
            <h1 class="section-title">Courses realizing the vision of <span>Multi disciplinary and
                Holistic Education</span></h1>
        </div>
        <div class="wrappers">
            <div class="card">
                <img src="index/Mainstream_Courses.jpg" alt="Mainstream_Courses">
                <div class="info">
                    <h1>Main Stream Courses</h1>
                    <!-- <a href="#" class="btn">See More</a> -->
                </div>
            </div>

            <div class="card">
                <img src="index/Value_Based_Courses.jpg" alt="Value_Based_Courses">
                <div class="info">
                    <h1>Value Based Courses</h1>
                    <!-- <a href="#" class="btn">See More</a> -->
                </div>
            </div>

            <div class="card">
                <img src="index/Skill_Development.jpg" alt="Skill_Development">
                <div class="info">
                    <h1>Value Added and Skill Development Courses</h1>
                    <!-- <a href="#" class="btn">See More</a> -->
                </div>
            </div>

            <div class="card">
                <img src="index/Personality_Development_Courses.jpg" alt="Personality_Development_Courses">
                <div class="info">
                    <h1>Personality Development Courses</h1>
                    <!-- <a href="#" class="btn">See More</a> -->
                </div>
            </div>

            <div class="card">
                <img src="index/Professional_Education_Courses.jpg" alt="Professional_Education_Courses">
                <div class="info">
                    <h1>Professional Education Courses</h1>
                    <!-- <a href="#" class="btn">See More</a> -->
                </div>
            </div>

            <div class="card">
                <img src="index/Stem_Courses.jpg" alt="Stem_Courses">
                <div class="info">
                    <h1>STEM Courses</h1>
                    <!-- <a href="#" class="btn">See More</a> -->
                </div>
            </div>
        </div>
            
    </section>
    <!-- End Courses Section -->

    <!-- faq -->
    <section id="faqs">
        <div class="container-fluid">
            <div>
                <h1 class="section-title">Frequently Asked Questions <span>(FAQ<span style="text-transform :none;">s</span>)</span></h1>
            </div>
            <!-- Accordion Starts-->
            <div class="acc">
                <h3>What is Multidisciplinary and Holistic Education ?</h3>
                <div class="contents">
                    <div class="content-inner">
                        <p>
                            A Holistic and Multidisciplinary Education aims to develop all capacities of human beings - Intellectual, Social, Aesthetic, Emotional, Physical, and Moral in an integrated manner. Such an education enables the students to become well rounded across disciplines
                            including artistic, creative, and analytic subjects as well as sports, develop active research communities across disciplines including cross-disciplinary research and increase resource efficiency, both material and human,
                            across higher education. Such an education is believed to break down harmful silos. (as indicated in NEP 2020 of India)
                        </p>
                    </div>
                </div>
            </div>
            <!-- Accordian -->
            <div class="acc">
                <h3>How would the online Courses help me ?</h3>
                <div class="contents">
                    <div class="content-inner">
                        <p>
                            The courses available on our website are curated keeping in mind the Indian education system and are aligned with the curriculum. So, these courses would complement the courses taught in Indian Universities. Many courses that meet the demand of new Skills
                            required for Industry 4.0 are also available.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Accordian -->
            <div class="acc">
                <h3>Would I be able to do these courses along with my regular study ?</h3>
                <div class="contents">
                    <div class="content-inner">
                        <p>
                            Yes, these courses are self paced and you may complete them as per your convenience within a specified time frame.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Accordian -->
            <div class="acc">
                <h3>Is there any eligibility condition to do these courses ?</h3>
                <div class="contents">
                    <div class="content-inner">
                        <p>
                            No, any student of any grade may do any course to enhance their knowledge. This platform is designed to break all the boundaries and to realize the actual aim of education i.e. Education for life.
                        </p>
                    </div>
                </div>
            </div>

            <div class="acc">
                <h3>How online courses are different from classroom teaching ?</h3>
                <div class="contents">
                    <div class="content-inner">
                        <p>
                            Online courses give you an opportunity to run the course according to your willingness to read the course, anytime you can pause the video and resume it back. Here you will get the chance to peer review the questions of your platform friends, a way to
                            understand different ways of writing an answer. Most importantly, for every mistake you will get to know the correct answer immediately.
                        </p>
                    </div>
                </div>
            </div>

            <div class="acc">
                <h3>Will the skills obtained/acquired via these courses be applicable in India or throughout the globe ?</h3>
                <div class="contents">
                    <div class="content-inner">
                        <p>
                            There were times when only Takshila and Nalanda Universities existed and students from foreign countries stood in que to gain the knowledge from the Indian Gurus. The platform is totally rooted on the concept of giving that kind of education and skills
                            to our learners in an easy way to have deep understanding.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- faq -->

    <!-- JoinUS Section  -->
    <section id="join">
        <div class="about">
            <img src="index/join1.svg" alt="" class="join1">
            <div class="col-right">
                <div class="join2-text">
                    <h1 class="section-title">Join <span>Us</span></h1>
                    <p class="section-subsection">
                        Destination of your Learning is here
                    </p>
                    <a href="/login-signup" class="cta" id="myBtn" style="cursor: pointer;">SIGN UP</a>
                </div>
                <img src="index/join2.svg" alt="" class="join2">
            </div>
        </div>
    </section>
    <!-- End JoinUS Section  -->


    <div id="includeFooter"></div>

    <script type="text/javascript">
        var slides = document.querySelectorAll('.slide');
        var btns = document.querySelectorAll('.btn');
        let currentSlide = 1;

        // Javascript for image slider manual navigation
        var manualNav = function(manual) {
            slides.forEach((slide) => {
                slide.classList.remove('active');

                btns.forEach((btn) => {
                    btn.classList.remove('active');
                });
            });

            slides[manual].classList.add('active');
            btns[manual].classList.add('active');
        }

        btns.forEach((btn, i) => {
            btn.addEventListener("click", () => {
                manualNav(i);
                currentSlide = i;
            });
        });

        // Javascript for image slider autoplay navigation
        var repeat = function(activeClass) {
            let active = document.getElementsByClassName('active');
            let i = 1;

            var repeater = () => {
                setTimeout(function() {
                    [...active].forEach((activeSlide) => {
                        activeSlide.classList.remove('active');
                    });

                    slides[i].classList.add('active');
                    btns[i].classList.add('active');
                    i++;

                    if (slides.length == i) {
                        i = 0;
                    }
                    if (i >= slides.length) {
                        return;
                    }
                    repeater();
                }, 5000);
            }
            repeater();
        }
        repeat();
        $(document).ready(function() {
            $('.acc h3').click(function() {
                $(this).next('.contents').slideToggle();
                $(this).parent().toggleClass('active');
                $(this).parent().siblings().children('.contents').slideUp();
                $(this).parent().siblings().removeClass('active');
            });
        });
    </script>
</body>

</html>