<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accomplishments</title>
    <link rel="stylesheet" href="/correspondence.css">
</head>

<body>

    <h2 class="top_heading">
        Accomplishments
    </h2>
    <div class="center">
        <img src="/images/undraw_education_f8ru.svg" alt="" class="forum-image">
        <div class="data-stuff">
            <h3>This page is under construction</h3><br>
            <p>Stay Tuned !</p>
        </div>

</body>

</html>