<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/extra_info.css">
    <title>Setup for Audio Visual Recording</title>
    <style>
        .donts {
            color: maroon;
        }
        
        .dos {
            color: greenyellow;
        }
        
        .setup-list-item i {
            padding-right: 7%;
            padding-left: 0;
        }
        
        @media only screen and (min-width: 768px) {
            .setup-list-item i {
                padding-right: 4%;
            }
        }
        
        @media only screen and (min-width: 1000px) {
            .project-info {
                overflow-y: scroll;
                display: block;
            }
            .project-info::-webkit-scrollbar {
                width: 10px;
                cursor: pointer;
            }
            .project-info::-webkit-scrollbar-track {
                background: #c5d5cb;
            }
            .project-info::-webkit-scrollbar-thumb {
                background: #000;
            }
        }
    </style>
</head>

<body>
    <button class="scrollTop" id="backBtn"><i class="fas fa-chevron-circle-left"></i> Back</button>
    <div class="top-navs">
        <!-- <div class="backbtndiv">
            <button id="backBtn" class="backBtn">Back</button>
        </div> -->
        <div class="setupsdiv">
            <button id="videoRecNavBtn" class="backBtn">Video Recording</button>
            <button id="AVNavBtn" class="backBtn">Audio Visual Recording</button>
            <button id="videoEdNavBtn" class="backBtn">Video Editing</button>
        </div>
    </div>
    <div class="setup-container">
        <div class="setup-title">Setup For <span>Audio Visual Recording</span></div>
        <div class="setup-info">
            <p>The quality of A/V is very important, as student can learn only when they can hear properly. The perfect A/V recording gives a feel of connection to students. But that doesn’t mean that you have to be a professional. Here are a few tips for
                your audio visual recording.
            </p>
        </div>
    </div>

    <section id="vision" style="margin-top: 2%;">
        <div class="projects">
            <div class="all-projects">
                <div class="project-item">
                    <div class="project-img">
                        <img src="/be-an-educator/audioRecording.jpg" alt="img">
                        <h1>Audio Recording</h1>
                    </div>
                    <div class="project-info" style="display: block;">
                        <p>During Audio recording, keep these things in mind: </p>
                        <div class="setup-list-main">
                            <div class="setup-list-item">
                                <i class="fas fa-dot-circle donts"></i>
                                <p>Don’t record in a large empty room as it will create lot of echo, if no alternative to this then please place some sound proof cushions in your surrounding. </p>
                            </div>
                            <div class="setup-list-item">
                                <i class="fas fa-dot-circle donts"></i>
                                <p>Avoid recording directly from your phone, tablet or laptop without using headphones or Mic (preferred).</p>
                            </div>
                            <div class="setup-list-item">
                                <i class="fas fa-dot-circle dos"></i>
                                <p>The sound should come from both the ear phones, please cross check the settings before recording.</p>
                            </div>
                            <div class="setup-list-item">
                                <i class="fas fa-dot-circle dos"></i>
                                <p>Background Noise like traffic, ACs, kids in the surrounding, utensils etc are a sort of distraction and can spoil your efforts.</p>
                            </div>
                            <div class="setup-list-item">
                                <i class="fas fa-dot-circle donts"></i>
                                <p>Educator must not keep the mic too close or too far away from mouth. The gap of 6-12 inches is advisable.</p>
                            </div>
                            <div class="setup-list-item">
                                <i class="fas fa-dot-circle donts"></i>
                                <p>Avoid giving pause, hmmmm, aaaaa like sounds during recording, it reflects lack of professionalism.</p>
                            </div>
                            <div class="setup-list-item">
                                <i class="fas fa-dot-circle dos"></i>
                                <p>Do pause and listen to your recordings frequently so as to avoid these issues.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-img">
                        <img src="/be-an-educator/visualRecording.jpg" alt="img">
                        <h1>Visual Recording</h1>
                    </div>
                    <div class="project-info" style="display: block;">
                        <p>Here are a few tips for your visual recording: </p>
                        <div class="setup-list-main">
                            <div class="setup-list-item">
                                <i class="fas fa-dot-circle dos"></i>
                                <p>Set up the home studio correctly as advised above. </p>
                            </div>
                            <div class="setup-list-item">
                                <i class="fas fa-dot-circle donts"></i>
                                <p>The video must not be blurry. Camera should be clean and smudge free.</p>
                            </div>
                            <div class="setup-list-item">
                                <i class="fas fa-dot-circle dos"></i>
                                <p>The recording device should be well adjusted so that it may not shake in between during recording, it must be steady.</p>
                            </div>
                            <div class="setup-list-item">
                                <i class="fas fa-dot-circle dos"></i>
                                <p>The two important aspects of recording are Resolution and Aspect ratio. </p>
                            </div>
                            <div class="setup-list-item">
                                <i class="fas fa-dot-circle dos"></i>
                                <p>The resolution can be standard or High definition. Prefer High definition resolution (1280 X 720 pixels).</p>
                            </div>
                            <div class="setup-list-item">
                                <i class="fas fa-dot-circle dos"></i>
                                <p>The recorded video should fill the complete frame i.e. good aspect ratio like 16:9 and 4:3. This can be adjusted in the export settings of camera.</p>
                            </div>
                            <div class="setup-list-item">
                                <i class="fas fa-dot-circle donts"></i>
                                <p>Don’t be too far away or too close to the camera while recording. Avoid placing it above or below your face. Just imagine a face to face interaction with camera as your student and place it at right position and at appropriate
                                    distance.
                                </p>
                            </div>
                            <div class="setup-list-item">
                                <i class="fas fa-dot-circle dos"></i>
                                <p>There must be proper lightning on your face, you should avoid any kind of shadow on your face. </p>
                            </div>
                            <div class="setup-list-item">
                                <i class="fas fa-dot-circle dos"></i>
                                <p>Finally most important one, keep watching your videos more and more after short breaks then only you can well identify your errors. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-img">
                        <img src="/be-an-educator/bodyLanguage.jpg" alt="img">
                        <h1>Personality and Body Language</h1>
                    </div>
                    <div class="project-info" style="display: block;">
                        <p>Personality of an individual and the body language influences the learner a lot. So here are the few tips to be taken care:</p>

                        <div class="setup-list-main">
                            <div class="setup-list-item">
                                <i class="fas fa-dot-circle dos"></i>
                                <p>If using green screen as background, avoid wearing green shirt or dress. Generally solid mute colours are preferred during recordin.</p>
                            </div>
                            <div class="setup-list-item">
                                <i class="fas fa-dot-circle donts"></i>
                                <p>Don’t put very heavy make up (females). Keep it light and attractive.</p>
                            </div>
                            <div class="setup-list-item">
                                <i class="fas fa-dot-circle dos"></i>
                                <p>Wearing watch or bangles can make sound during hand movements, better avoid them.</p>
                            </div>
                            <div class="setup-list-item">
                                <i class="fas fa-dot-circle dos"></i>
                                <p>Stay smiling and interactive while recording so that the learners can feel connected.</p>
                            </div>
                            <div class="setup-list-item">
                                <i class="fas fa-dot-circle donts"></i>
                                <p>While recording, don’t stand on one feet. Avoid tying your hands at back while teaching.</p>
                            </div>
                            <div class="setup-list-item">
                                <i class="fas fa-dot-circle donts"></i>
                                <p>Don’t rotate your eyes much, try to focus on camera considering it as your student.</p>
                            </div>
                            <div class="setup-list-item">
                                <i class="fas fa-dot-circle donts"></i>
                                <p>Don’t hold any paper notes or any other item in your lap and in your hand. As these sounds can be captured and can also lead to distractions.Instead,you may use teleprompter.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <script>
        var type = '<%=type%>'
        $('#backBtn').click(() => {
            if (type == 'CU')
                $("#gum-local").load("/be-an-educator/record_editing");
            else if (type == 'TV')
                $("#gum-local").load("/be-an-educator/testVideoAndFeedback");
            else
                location.href = '/be-an-educator/dashboard/signMou-' + type;
        })
        $('#videoRecNavBtn').click(() => {
            $("#gum-local").load("/be-an-educator/setupForVideoRecording/" + type);
        })
        $('#AVNavBtn').click(() => {
            $("#gum-local").load("/be-an-educator/setupForAudioVisualRecording/" + type);
        })
        $('#videoEdNavBtn').click(() => {
            $("#gum-local").load("/be-an-educator/setupForVideoEditing/" + type);
        })
    </script>
</body>

</html>