<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correspondence</title>
    <link rel="stylesheet" href="/correspondence.css">
</head>

<body>

    <h2 class="top_heading">
        Q <span class="data">& </span>A
    </h2>
    <div class="center">
        <img src="/be-an-educator/forum2.svg" alt="" class="forum-image">
        <div class="data-stuff">
            <h3>No Questions Yet</h3><br>
            <p>It is a forum where your students can ask you questions, hear your responses, respond to one another. Here's where you will see your courses Q&A threads.</p>
        </div>

</body>

</html>