<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/extra_info.css">
    <title>Setup for Video Recording</title>

    <style>

    </style>
</head>

<body>
    <button class="scrollTop" id="backBtn"><i class="fas fa-chevron-circle-left"></i> Back</button>
    <div class="top-navs">
        <!-- <div class="backbtndiv">
            <button class="backBtn">Back</button>
        </div> -->
        <div class="setupsdiv">
            <button id="videoRecNavBtn" class="backBtn">Video Recording</button>
            <button id="AVNavBtn" class="backBtn">Audio Visual Recording</button>
            <button id="videoEdNavBtn" class="backBtn">Video Editing</button>
        </div>
    </div>
    <div class="setup-container">
        <div class="setup-title">Setup For <span>Video Recording</span></div>
        <div class="setup-info">
            <p>Once you are done with the recordings, it is crucial to integrate them to get the final video. This step is called Video editing and can easily be done using software available in the market. Many of them are freely available. Some of the
                arrangements that are required for recording the videos are given for the reference, However, One should ensure the following:
            </p>
            <div class="setup-list-main">
                <div class="setup-list-item">
                    <i class="fas fa-dot-circle"></i>
                    <p>Proper Lightening</p>
                </div>
                <div class="setup-list-item">
                    <i class="fas fa-dot-circle"></i>
                    <p>Background</p>
                </div>
                <div class="setup-list-item">
                    <i class="fas fa-dot-circle"></i>
                    <p>What type of Recording will suit the Lecture delivery such as</p>
                </div>
            </div>
            <div class="setup-list-submain">
                <div class="setup-list-item">
                    <i class="far fa-dot-circle"></i>
                    <p>Screencasting (recording of the laptop screen)</p>
                </div>
                <div class="setup-list-item">
                    <i class="far fa-dot-circle"></i>
                    <p>Recording using Green Screen</p>
                </div>
                <div class="setup-list-item">
                    <i class="far fa-dot-circle"></i>
                    <p>Recording using light board</p>
                </div>
            </div>
        </div>
    </div>

    <section id="vision" style="margin-top: 2%;">
        <div class="projects">
            <div class="all-projects">
                <div class="project-item">
                    <div class="project-img">
                        <img src="/be-an-educator/screen_cast.png" alt="img">
                        <h1>Screen Casting</h1>
                    </div>
                    <div class="project-info">
                        <p>A tentative arrangement as shown in illustration (Please lay emphasis on background, lightening and Script). </p>
                        <p>A software to cast the screen. Many options are available as freeware. Some of them are given as under for your ready reference.</p>
                        <p><b>a. &nbsp;&nbsp;&nbsp;</b>Open Broadcaster Software</p>
                        <p><b>b. &nbsp;&nbsp;&nbsp;</b>Screencast-o-matic</p>
                        <p><b>c. &nbsp;&nbsp;&nbsp;</b>Apowersoft</p>
                        <p><b>d. &nbsp;&nbsp;&nbsp;</b>Icecreams apps</p>
                        <p><b>e. &nbsp;&nbsp;&nbsp;</b>Free Screencast</p>
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-img">
                        <img src="/be-an-educator/green_screen.jpg" alt="img">
                        <h1>Green Screen Recording</h1>
                    </div>
                    <div class="project-info">
                        <h3>Why Green Screen ? </h3>
                        <p>After recording on green screen, you may change the background to any other Picture/Video of your choice. </p>
                        <br>
                        <div class="greenscreen_img">
                            <img src="/be-an-educator/before_green_screen.png" width="100px">
                            <img src="/be-an-educator/after_green_screen.png" width="100px">
                        </div>
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-img">
                        <img src="/be-an-educator/green_screen_arrangement.png" alt="img">
                        <h1>Green Screen Arrangement </h1>
                    </div>
                    <div class="project-info">
                        <p>A tentative arrangement as shown in illustration (please lay emphasis on background, lightening and teleprompter).</p>
                        <p>For similar setup you require:</p>
                        <div class="setup-list">
                            <div class="setup-list-item">
                                <i style="padding: 1% 5% 1% 2%;" class="fas fa-angle-right"></i>
                                <p style="padding: 0; margin: 0;">A tripod stand to mount the Camera/Phone</p>
                            </div>
                            <div class="setup-list-item">
                                <i style="padding: 1% 5% 1% 2%;" class="fas fa-angle-right"></i>
                                <p style="padding: 0; margin: 0;">Three spot lights</p>
                            </div>
                            <div class="setup-list-item">
                                <i style="padding: 1% 5% 1% 2%;" class="fas fa-angle-right"></i>
                                <p style="padding: 0; margin: 0;">A teleprompter (may be a piece of paper having script/laptop/phone/tablet etc.) </p>
                            </div>
                            <div class="setup-list-item">
                                <i style="padding: 1% 5% 1% 2%;" class="fas fa-angle-right"></i>
                                <p style="padding: 0; margin: 0;">Green Screen</p>
                            </div>
                            <div class="setup-list-item">
                                <i style="padding: 1% 5% 1% 2%;" class="fas fa-angle-right"></i>
                                <p style="padding: 0; margin: 0;">You may DIY to create your own setup and almost everything is available on amazon.in </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-img">
                        <img src="/be-an-educator/light_screen.jpg" alt="img">
                        <h1>Recording on Light Board </h1>
                    </div>
                    <div class="project-info">
                        <p>A tentative arrangement as shown in illustration (please lay emphasis on background, lightening and teleprompter).</p>
                        <p>For similar setup you require:</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <script>
        var type = '<%=type%>'
        $('#backBtn').click(() => {
            if (type == 'CU')
                $("#gum-local").load("/be-an-educator/record_editing");
            else if (type == 'TV')
                $("#gum-local").load("/be-an-educator/testVideoAndFeedback");
            else
                location.href = '/be-an-educator/dashboard/signMou-' + type;
        })
        $('#videoRecNavBtn').click(() => {
            $("#gum-local").load("/be-an-educator/setupForVideoRecording/" + type);
        })
        $('#AVNavBtn').click(() => {
            $("#gum-local").load("/be-an-educator/setupForAudioVisualRecording/" + type);
        })
        $('#videoEdNavBtn').click(() => {
            $("#gum-local").load("/be-an-educator/setupForVideoEditing/" + type);
        })
    </script>

</body>

</html>