.wrappers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 1;
  margin-top: 2%;
}

.card {
  width: 150px;
  height: 180px;
  padding: 1rem 1rem;
  margin: 1rem 0rem;
  background: #fff;
  position: relative;
  display: flex;
  border-radius: 20px;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
  z-index: 0;
}

/* .card:hover {
  border-radius: 20px;
  transform: translateY(20px);
} */

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(51, 153, 158, 0.7),
    rgba(22, 19, 97, 1)
  );
  z-index: 2;
  border-radius: 20px;
  transition: 0.5s all;
  opacity: 0;
}

.card:hover:before {
  opacity: 1;
  border-radius: 20px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  overflow: hidden;
}

.card .info {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}

.card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

.card .info h1 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 30px;
}

.card .info .btn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #fff;
  color: #000;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.cta {
  display: inline-block;
  padding: 15px 20px;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.course-info {
  color: #161361;
  padding: 20px;
  margin-top: 10px;
  /* font-size: 1.9rem; */
}

.courseinfo-p {
  padding-left: 20px;
}
.signMou{
  background-color: transparent; 
  color: #29bde4;
  text-decoration: underline; 
  border: none; 
  outline: none; 
  font-size: 1.8rem; 
  cursor: pointer;
}
.signMou:hover{
  color: #161361;
}

:root {
  --select-border: #161361;
  --select-focus: #29bde4;
}

.select {
  left: 0;
  top: 0;
  width: 30ch;
  height:40px;
  margin-left: 20px;
}

.select select,
.select::after {
  grid-area: select;
}

.select:not(.select--multiple)::after {
  content: '';
  justify-self: end;
  width: 1em;
  height: 0.8em;
  background-color: white;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  z-index: 2;
}
.select.noselect:not(.select--multiple)::after {
  content: none;
}

.select--disabled {
  cursor: not-allowed;
  background-color: #eee;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#ddd),
    color-stop(33%, #eee)
  );
  background-image: linear-gradient(to top, #ddd, #eee 33%);
}

/* label {
  font-size: 1.125rem;
  font-weight: 500;
} */

.select + label {
  margin-top: 2rem;
}

.a-link {
  text-decoration: underline;
  color: blue;
}


.form__field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #007bff;
  outline: 0;
  font-size: 1.5rem;
  color: #000;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown~.form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__group {
  position: relative;
  padding: 15px 0 0 15px;
  width: 50%;
}

.courseTitleDiv {
  display: flex;
  align-items: flex-end;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #007bff;
}

.form__field:focus {
  padding-bottom: 6px;
  border-width: 3px;
  border-image: linear-gradient(to right, #29bde4, #161361);
  border-image-slice: 1;
}

.form__field:focus~.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #161361;
  font-weight: 700;
}


@media (max-width: 700px) {
  .courseTitleDiv {
    align-items: flex-start;
    flex-direction: column;
  }
  .courseTitleDivinput {
    padding: 10px 5px;
    margin-top: 3%;
  }
  .form__group {
    width: 80%;
    margin-top: 2%;
  }
}

@media (max-width: 1200px) {
  .card:before {
    opacity: 1;
  }
  .card .info {
    opacity: 1;
  }
  .card .info h1 {
    margin-bottom: 60px;
  }
  .card .info .btn {
    position: absolute;
    bottom: 5%;
  }
}

#test_error_message {
  padding-top: 2%;
  /* margin-left: 5%; */
  /* text-align: center; */
  color: red;
}

.file_upload {
  /* margin-top: 2%; */
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: center;
}

.drop-zone {
  width: 600px;
  height: 200px;
  margin: 2% 3%;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  cursor: pointer;
  /* color: #cccccc; */
  border: 4px dashed #29bde4;
  border-radius: 10px;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__prompt i {
  font-size: 8rem;
  color: #29bde4;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-image: url("/be-an-educator/upload-annexure.svg");
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

.test_video_success_upload {
  display: none;
  font-size: 1.8rem;
  margin-top: 3%;
  text-align: center;
}

.test_video_success_upload i {
  font-size: 2.5rem;
  padding-right: 3%;
}

.loading_circle {
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  align-items: center;
}

.loading_circle img {
  width: 70px;
}

@media (max-width: 1000px) {
  .drop-zone {
    width: 800px;
  }
}

@media (max-width: 650px) {
  .file_upload {
    flex-direction: column;
  }
  .drop-zone {
    width: 60vw;
    margin-top: 5%;
    margin-bottom: 0;
  }
  .test_video_success_upload {
    margin-top: 5%;
    font-size: 1.5rem;
  }
  .test_video_success_upload i {
    font-size: 2.5rem;
  }
  .loading_circle {
    margin-top: 2%;
  }
  .loading_circle img {
    width: 50px;
  }
  .upload_btn {
    margin-top: 3%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .drop-zone {
    width: 80vw;
  }
}

@media (max-width: 450px) {
    .form__group {
      width: 90%;
      margin-top: 2%;
    }
}
@media (max-width: 320px) {
  .course-info {
    padding-left: 10px;
  }
  .courseinfo-p {
    padding-left: 10px;
  }
  .select {
    margin-left: 10px;
  }
  input[type="text"] {
    margin-left: 10px;
  }
}