.test-feedback h1 {
    padding-bottom: 20px;
    color: #161361;
}

.data-stuff {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}

.data {
    color: #29bde4;
}

.feedback_container {
    margin: 2%;
}

.feedback_status {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.feedback_status .feedback_banner {
    width: 50%;
    height: 300px;
    margin-right: 30px;
}

.feedback_status .check_feedback {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feedback_status .check_feedback .feedback_text {
    border-radius: 20px;
    background-color: #33999E;
    padding: 20px;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: #fff;
    width: max-content;
    transition: 0.9s;
    margin-bottom: 4%;
}

.feedback_status .check_feedback .feedback_text .text {
    color: #fff;
    cursor: auto;
}

.feedback_status .check_feedback .feedback_text:hover {
    background-color: #29bde4;
}

.feedback_status .check_feedback .feedback_text i {
    margin-right: 20px;
}

.cta {
    margin-right: 0;
    width: max-content;
    padding: 2% 4%;
    font-size: 1.5rem;
    display: inline-block;
    text-transform: uppercase;
}
.feedback_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (min-width: 800px) and (max-width: 1050px) {
    .feedback_status .feedback_banner {
        width: 50%;
        height: 200px;
        margin-right: 10px;
    }
    .feedback_status .check_feedback {
        width: 50%;
    }
    .feedback_status .check_feedback .feedback_text {
        font-size: 1.5rem;
        padding: 10px;
    }
    .cta {
        margin-right: 0;
        width: max-content;
        padding: 3% 5%;
        font-size: 1.5rem;
    }
}

@media (min-width: 500px) and (max-width: 800px) {
    .feedback_status {
        display: flex;
        flex-direction: column;
    }
    .feedback_status .feedback_banner {
        width: 100%;
        height: 300px;
    }
    .feedback_status .check_feedback {
        margin-top: 40px;
        width: 100%;
    }
    .feedback_status .check_feedback .feedback_text {
        font-size: 1.5rem;
        padding: 10px;
    }
    .cta {
        margin-right: 0;
        width: max-content;
        padding: 2% 4%;
        font-size: 1.5rem;
    }
}

@media (max-width: 500px) {
    .feedback_status {
        display: flex;
        flex-direction: column;
    }
    .feedback_status .feedback_banner {
        width: 100%;
        height: 300px;
    }
    .feedback_status .check_feedback {
        margin-top: 40px;
        width: 100%;
    }
    .feedback_status .check_feedback .feedback_text {
        font-size: 1rem;
        padding: 10px 5px;
    }
    .cta {
        margin-right: 0;
        width: max-content;
        padding: 3% 5%;
        font-size: 1rem;
    }
}