.test-feedback h1 {
    padding-bottom: 20px;
    color: #161361;
}

.test-feedback p {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}

.flex {
    overflow-x: hidden;
}

.data {
    color: #29bde4;
}

.imgbox {
    width: 100%;
    margin-bottom: 0;
}

.imgbox i {
    font-size: 6rem;
}
.approval_msg{
    text-align: center;
    font-size: 1.5rem;
    width: fit-content;
    padding: 10px;
    background: grey;
    color: wheat;
    visibility: hidden;
}
.data-name {
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
}

.data-name:hover {
    color: black;
    text-decoration: underline;
    font-size: 1.5rem;
}

.flexbox {
    display: flex;
    width: 90%;
    height: max-content;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 40px;
    margin-right: 0;
    padding: 0;
    padding-right: 0;
    padding-bottom: 40px;
}

.flex {
    width: 16%;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 2%;
    padding-top: 4%;
    padding-bottom: 4%;
    justify-content: center;
    z-index: 0;
}

.flexbottom {
    border-bottom: 6px solid red;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
    position: relative;
}

.flextop {
    border-top: 6px solid red;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    position: relative;
}

.flexbottom {
    bottom: 0px;
    box-shadow: inset 0px -20px 0px;
    color: red;
}

.flextop {
    box-shadow: inset 0px 20px 0px;
    color: red;
}

.stepNumber {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    border: 1px solid orange;
    border-radius: 50px 0px 50px 0px;
    background: orange;
    color: white;
}

.i_style {
    color: #29bde4;
    margin: 20px 0;
}

.course_structure {
    margin-top: 50px;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
}

.course_structure img {
    width: 80%;
    object-fit: contain;
    border: 2px solid black;
}


/* Media Queries */

@media (max-width: 1000px) {
    .course_structure img {
        width: 90%;
    }
}

@media (max-width: 1250px) {
    .flex {
        width: 19%;
    }
}

@media (max-width: 950px) {
    .flexbox {
        width: 97%;
    }
}

@media (max-width: 880px) {
    .flex {
        padding-top: 2%;
        padding-bottom: 2%;
    }
}

@media (max-width: 1000px) {
    .course_structure {
        margin-top: 10px;
        height: max-content;
    }
    .course_structure img {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .flexbox_cont {
        display: flex;
        justify-content: center;
    }
    .flexbox {
        display: flex;
        width: 80%;
        height: max-content;
        flex-direction: column;
    }
    .flex {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 2% 4%;
    }
    .stepNumber {
        width: 40%;
        height: max-content;
        font-size: 1.5rem;
        text-align: center;
        border: 1px solid orange;
        border-radius: 50px 0px 50px 0px;
        background: orange;
        color: white;
    }
    .imgbox {
        width: 50%;
    }
    .flexbottom {
        border-left: 20px solid red;
        border-bottom: none;
        border-top-left-radius: 100%;
        border-bottom-left-radius: 100%;
        box-shadow: none;
    }
    .flextop {
        border-right: 20px solid red;
        border-top: none;
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
        box-shadow: none;
    }
}

@media (max-width: 550px) {
    .flexbox {
        width: 90%;
    }
}

@media (max-width: 420px) {
    .flex {
        flex-direction: column;
        padding: 5% 0;
    }
    .i_style {
        margin: 1%;
    }
}

@media (max-width: 320px) {
    .flex {
        padding: 6% 0;
    }
}