body {
  overflow-x: hidden;
}

/* carousel */

#hero {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.img-slider {
  width: 100%;
  background: #33999e;
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img {
  z-index: 1;
  border-radius: 5px;
}

.img-slider .slide .info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
}

.img-slider .slide .info h1 {
  color: #fff;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  padding: 0 40px;
  text-shadow: 2px 2px #000;
}

.img-slider .slide .info p {
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  margin-top: 20px;
  padding: 10px;
  /* width: 60%; */
}

.img-slider .slide .info .hero-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 5%;
}

.img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn {
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active {
  background: #2696e9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

/* end carousel */

/* features section */

#cv .cv {
  /* flex-direction: column; */
  text-align: center;
  /* display: flex; */
  margin: 0 auto;
  padding: 80px 0;
  margin-bottom: -50px;
}

.cv-container {
  position: relative;
  margin: 20px auto;
  padding-right: 30px;
  display: flex;
  padding: 30px;
  overflow-x: auto;
  overflow-y: hidden;
}

.cv-container::-webkit-scrollbar {
  width: 40px;
}

.cv-container::-webkit-scrollbar-track {
  background: #000;
  border-radius: 10px;
}

.cv-container::-webkit-scrollbar-thumb {
  background: #33999e;
  border-radius: 10px;
}

.cv-container .cv-card {
  position: relative;
  /* max-width: 300px;
  height: 310px; */
  max-width: 150px;
  height: 170px;
  background: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  background-color: #33999e;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: none;
}

.cv-container .cv-card .cv-imgBx {
  position: relative;
  width: 120px;
  height: 120px;
  /* width: 220px;
  height: 220px; */
  top: -60px;
  /* left: 20px; */
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.cv-container .cv-card .cv-imgBx img {
  max-width: 100%;
  border-radius: 50%;
}

.cv-container .cv-card .cv-content {
  position: relative;
  margin-top: -60px;
  padding: 0px 15px;
  text-align: center;
  visibility: visible;
  opacity: 1;
  transition: none;
}

.cv-container .cv-card .cv-content p {
  font-size: 1.4rem;
  /* line-height: 0; */
  font-weight: bold;
  color: white;
}

/* end features section */

/* Courses Section*/

.wrappers {
  display: flex;
  justify-content: space-around;
  z-index: 1;
  flex-wrap: wrap;
  margin-top: 2%;
  text-align: justify;
  /* overflow-x: scroll; */
}

.wrappers .card {
  width: 150px;
  height: 200px;
  padding: 1rem 1rem;
  margin: 1rem 0rem;
  background: #fff;
  position: relative;
  display: flex;
  border-radius: 20px;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
  z-index: 0;
}

.wrappers .card:hover {
  border-radius: 20px;
  transform: translateY(20px);
}

.wrappers .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(51, 153, 158, 0.7),
    rgba(22, 19, 97, 1)
  );
  z-index: 2;
  border-radius: 20px;
  transition: 0.5s all;
  opacity: 0;
}

.wrappers .card:hover:before {
  opacity: 1;
  border-radius: 20px;
}

.wrappers .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  overflow: hidden;
}

.wrappers .card .info {
  position: relative;
  text-align: start;
  width: 100%;
  z-index: 3;
  color: #fff;
  opacity: 0;
  bottom: 30px;
  transform: translateY(40px);
  transition: 0.5s all;
}

.wrappers .card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

.wrappers .card .info h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.wrappers .card .info .btn {
  display: inline-block;
  margin-right: 20px;
  padding: 5px 5px;
  color: white;
  background-color: #29bde4;
  border: 2px solid#29bde4;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  transition: 0.3s ease;
  cursor: pointer;
  transition-property: background-color, color;
}

.wrappers .card .info .btn:hover {
  color: #fff;
  font-weight: bold;
  background-color: #33999e;
  border: 2px solid #33999e;
}

#courses {
  margin-top: 100px;
}

/*End Courses Section*/

/* FAQ section */

#faqs {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.container-fluid {
  max-width: 70%;
  margin: 0 auto;
  padding: 70px 0 20px;
  width: 100%;
}

.acc h3 {
  font-size: 14px;
  background-image: linear-gradient(60deg, #161361 0%, #29bde4 100%);
  color: #fff;
  padding: 10px;
  padding-right: 25px;
  margin: 0;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
}

.acc h3:after {
  content: "+";
  position: absolute;
  right: 10px;
  font-size: 30px;
  top: 58%;
  transform: translateY(-50%);
}

.acc.active h3:after {
  content: "-";
}

.contents {
  border: 2px solid #161361;
  background-color: #fff;
  display: none;
}

.content-inner {
  padding: 10px;
  text-align: justify;
  color: #000;
  font-size: 1.5rem;
}

.content-inner p {
  font-size: 10px;
  font-weight: bold;
}

.contents * {
  margin-top: 0;
  line-height: 1.5;
  color: #000;
}

.acc {
  border-bottom: 1px solid #fff;
}

/* End FAQ section */

/*JOIN SECTION */

#join {
  text-align: center;
  background-color: #ffe259;
  /* position: relative; */
  margin-top: 40px;
  height: 350px;
}

#join .about {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.join1 {
  width: 350px;
  height: 350px;
  padding: 10px;
}

.join2 {
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 0;
  right: -3%;
  display: none;
}

.section-subsection {
  font-weight: bold;
}

/* join section   */

@media (max-width: 1200px) {
  .wrappers .card:before {
    opacity: 1;
  }
  .wrappers .card .info {
    opacity: 1;
  }
  .wrappers .card .info h1 {
    margin-bottom: 60px;
  }
  .wrappers .card .info .btn {
    position: absolute;
    bottom: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .join1 {
    width: 200px;
    height: 200px;
    /* padding: 0; */
  }
  .join2-text h1 {
    position: absolute;
    right: 5%;
    top: 7px;
    font-size: 3rem;
  }
  .join2-text a {
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 1rem;
  }
  #join {
    position: relative;
    height: auto;
  }
}

/* Media Query For Tablet */

@media only screen and (min-width: 768px) {
  /* Carousel */
  .img-slider .slide .info h1 {
    font-size: 30px;
  }
  #hero {
    height: 100vh;
  }
  .img-slider .slide .info p {
    margin-bottom: 50px;
  }
  /* Core Values */
  #cv .cv {
    margin-bottom: -100px;
  }
  .cv-container::-webkit-scrollbar {
    width: 20px;
  }
  /* Courses */
  #courses {
    margin-top: 60px;
  }
}

@media (max-width: 768px) {
  .container-fluid {
    max-width: 90%;
  }
}

/* End Media Query For Tablet */

@media only screen and (min-width: 1100px) {
  /* join us */
  #join {
    position: relative;
    height: 500px;
  }
  #join .about {
    display: block;
  }
  .join1 {
    width: 460px;
    height: 470px;
    padding: 20px;
    position: absolute;
    left: 20px;
    top: 20px;
  }
  .join2-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .join2 {
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: 0;
    right: -3%;
    display: block;
    color: #161361;
  }
}
@media(max-width : 800px){
  .img-slider .slide .info h1 {
    font-size: 23px;
}
.img-slider .slide .info p {
  font-size: 18px;
}
}
@media(max-width : 560px){
    .img-slider .slide .info .hero-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 5%;
    }
      .img-slider .slide .info h1 {
        font-size: 18px;
    }
    .img-slider .slide .info p {
      font-size: 15px;
    }
}
@media (max-width: 500px) {
  .acc h3 {
    font-size: 10px;
    padding: 8px 10px;
  }
  .acc h3:after {
    font-size: 20px;
  }
}
@media(max-width : 350px){
      .img-slider .slide .info h1 {
        font-size: 15px;
    }
    .img-slider .slide .info p {
      font-size: 12px;
    }
}