@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    /* background-color: #33999e; */
    /* background-color: rgba(51,153,158, 0.3); */
    background-color: #c5d5cb;
}

a {
    text-decoration: none;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#loading {
    position: fixed;
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #fff;
    /* background: #ff0000 url('https://i.gifer.com/7zxq.gif') no-repeat center center; */
    z-index: 99999;
}

#loading img {
    width: 100px;
}
.top_heading {
    padding-bottom: 15px;
    color: #161361;
}

.data {
    color: #29bde4;
}

p {
    color: black;
    font-weight: bold;
    /* margin-bottom: 1%; */
}

.cta {
    cursor: pointer;
    color: white;
    outline: none;
    background-color: #161361;
    border: 2px solid #161361;
    transition: .3s ease;
    transition-property: background-color, color;
}

.cta:hover {
    color: white;
    font-weight: bold;
    background-color: #29bde4;
    border: 2px solid #29bde4;
}

.course_name {
    background-color: #33999e;
    padding: 1%;
    margin-bottom: 3%;
    text-align: center;
    color: #fff;
    line-height: 1;
    text-transform: capitalize;
}

@media (max-width: 500px) {
    .course_name {
        padding: 3%;
        margin-bottom: 3%;
    }
}

.progress {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 20px;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
    margin-top: 10px;
}
.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: green;
    transition: width .6s ease;
    font-size: 16px;
    text-align: center;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    width: 100%;
}

.form__field, .form__field_option {
    width: 80%;
    border: 0;
    border-bottom: 2px solid #007bff;
    outline: 0;
    font-size: 1.5rem;
    color: #000;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder, .form__field_option::placeholder {
    color: transparent;
    /* color: gray; */
}

.form__field:placeholder-shown~.form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
    color: #007bff;
    font-weight: normal;
    
}


.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    /* color: #007bff; */
    color: #161361;
    font-weight: 700;
}

.form__field:focus, .form__field_option:focus {
    padding-bottom: 6px;
    border-width: 3px;
    border-image: linear-gradient(to right, #29bde4, #161361);
    border-image-slice: 1;
}

.form__field:focus~.form__label, .form__field_option:focus~.form__label {
    position: absolute;
    top: 0;
    /* left: 30px; */
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #161361;
    font-weight: 700;
}


/* reset input */

.form__field:required,
.form__field:invalid {
    box-shadow: none;
}


.drop-zone {
    width: 400px;
    height: 200px;
    margin: 2% 3%;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    cursor: pointer;
    /* color: #cccccc; */
    border: 4px dashed #29bde4;
    border-radius: 10px;
}

.drop-zone--over {
    border-style: solid;
}

.drop-zone__prompt i {
    font-size: 8rem;
    color: #29bde4;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-image: url('/be-an-educator/upload-test-video.svg');
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}


:root {
    --select-border: #161361;
    --select-focus: #29bde4;
  }
  select option {
    background-color: rgba(41, 189,	228, 0.5);
    color: black;
    overflow: hidden;
    padding: 0 2%;
    cursor: pointer;
  }
  
  
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    overflow: hidden;
    background-color: transparent;
    width: 100%;
    height: 110%;
    font-family: inherit;
    font-size: 1.5rem;
    z-index: 1;
    color: #fff;
    padding: 0.5em 0.5em;
    outline: none;
    cursor: pointer;
  }
  
  select::-ms-expand {
    display: none;
  }
  
  .select {
    height:40px;
    overflow: hidden;
    display: grid;
    grid-template-areas: "select";
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 50%;
    /* min-width: 15ch;
      max-width: 30ch; */
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    font-size: 1.25rem;
    cursor: pointer;
    background-color: #29bde4;
    color: #fff;
    padding-right: 5px;
    left: -50px;
    top: 5px;
  }
  
  .select select,
  .select::after {
    grid-area: select;
  }
  
  .select:not(.select--multiple)::after {
    content: "";
    justify-self: end;
    width: 1em;
    height: 0.8em;
    background-color: #fff;
    -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    z-index: 2;
  }

.select--disabled {
    cursor: not-allowed;
    background-color: #eee;
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#ddd),
      color-stop(33%, #eee)
    );
    background-image: linear-gradient(to top, #ddd, #eee 33%);
}
  
label {
    font-size: 1.125rem;
    font-weight: 500;
}
  
.select + label {
    margin-top: 2rem;
}
