.popup_card {
    height: max-content;
    width: 100%;
    position: absolute;
    top: 5%;
    left: 0;
    display: flex;
    justify-content: center;
}

.popup {
    background: #161361;
    /* height: 150px; */
    height: max-content;
    width: 500px;
    position: relative;
    /* padding: 30px; */
    z-index: 1000;
    /* position: absolute;
    top: 20%;
    left: 50%; */
    border: 2px solid#161361;
    /* transform: translate(-50%, -50%); */
    /* box-shadow: 1px 2px 5px 3px #161361; */
    transition: 0.5s ease ease-in-out;
}

.popup_header {
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: #fff;
}

.urg_message {
    /* flex: 9; */
    font-weight: bold;
    color: #FF0000;
    padding: 1% 0;
    text-shadow: 2px 2px black;
}

.popup_header i {
    /* flex: 1; */
    font-size: 3rem;
}

.popup_body {
    padding: 20px 10px;
    color: white;
    text-align: center;
}

.close {
    cursor: pointer;
    color: red;
    text-shadow: none;
}

.close:hover {
    color: green;
}

@media(max-width: 700px) {
    .popup {
        /* height: 160px; */
        width: 400px;
    }
}

@media(max-width: 600px) {
    .popup {
        /* height: 200px; */
        width: 350px;
        /* padding: 20px; */
    }
}
@media(max-width: 400px) {
    .popup {
        width: 300px;
    }
    .urg_message {
        font-size: larger;
        text-shadow: 1px 1px black;
    }
}