@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #c5d5cb;
}
.hover_effect {
    position: relative;
  }
  
.hover_effect:hover::after {
    position: absolute;
    font-size: 1.5rem;
    content: attr(data-tooltip);
    bottom: -1.2em;
    left: 250px;
    background-color: #29bde4;
    color: white;
    padding: .25em .5em;
}
ul{
    list-style: none;
}
a {
  text-decoration: none;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  color: black;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

.section-title {
  font-size: 2rem;
  font-weight: 900;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

.section-title span {
  color: #29bde4;
  font-weight: bold;
}

.cta {
  display: inline-block;
  margin-right: 20px;
  padding: 10px 15px;
  color: white;
  background-color: #161361;
  border: 2px solid #161361;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  text-align: center;
  transition: 0.3s ease;
  cursor: pointer;
  transition-property: background-color, color;
  outline: none;
}

.cta:hover {
  color: #fff;
  font-weight: bold;
  background-color: #29bde4;
  border: 2px solid #29bde4;
}
/* Header section */

#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
  }
  
  #header .header {
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
    transition: 0.3s ease background-color;
  }
  
  #header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
  }
  #header .nav-bar .brand a {
    display: flex;
    align-items: center;
  }
  
  #header .nav-bar .brand h1 {
    font-size: 2.5rem;
    color: white;
    margin-left: 10px;
  }
  
  #header .nav-bar .brand h1 span {
    color: #33999e;
  }
  
  #header .nav-bar .brand img {
    width: 20%;
    /* width: 40px; */
    transition: 0.5s;
  }




  .nav-btn{
    width: max-content;
    display: flex;
}

.nav-links{
    flex: 3;
} 


/*   
  
  
  .nav-links ul a {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
  } */
/*   
  .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: 0.3s ease letter-spacing;
  }
  
  .nav-links ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
  } */
  
  .nav-links ul li:hover a {
    color: #29bde4;
  }
  
.nav-links > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
    position: absolute;
    left: 110%;
    flex-direction: column;
}

.nav-links > ul {
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 110%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: 0.5s ease left;
  }

.nav-links > ul.active {
    left: 0%;
  }
  
.nav-link{
    position: relative;
}

.nav-link > a{
    transition: .5s;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    display: block;
}

.nav-link > a > i{
    margin-left: .2rem;
}

.nav-link:hover > a{
    /* transform: scale(1.1); */
    color: #29bde4;
}

.dropdown{
    position: absolute;
    top: 100%;
    left: -30%;
    width: 25rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
    z-index: 10;
}

.dropdown ul{
    position: relative;
}

.dropdown-link > a{
    display: flex;
    background-color: #fff;
    color: #161361;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    text-align: left;
    border-bottom: 1px solid #fff;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}
.dropdown-link .cats {
  color: #161361;
}
.dropdown-link:hover > a{
    background-color: #161361;
    color: #3498db;
}

.dropdown-link:not(:nth-last-child(2)){
    border-bottom: 1px solid #efefef;
}

.dropdown-link i{
    transform: rotate(-90deg);
}

.arrow{
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 70px;
    background-color: #fff;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: -1;
}

.dropdown-link:first-child:hover ~ .arrow{
    background-color: #3498db;
}

.dropdown-link{
    position: relative;
}

.dropdown.second{
    top: 0;
    left: 100%;
    padding-left: .8rem;
    cursor: pointer;
    transform: translateX(10px);
}

.dropdown.second .arrow{
    top: 10px;
    left: -5.5px;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown{
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}

.hamburger {
  height: 50px;
  width: 50px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}

.hamburger:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_puls 1s ease infinite;
}

.hamburger .bar {
  height: 2px;
  width: 20px;
  position: relative;
  background-color: white;
  z-index: -1;
}

.hamburger .bar::after,
.hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}

.hamburger .bar::after {
  top: 8px;
}

.hamburger .bar::before {
  bottom: 8px;
}

.hamburger.active .bar::before {
  bottom: 0;
}

.hamburger.active .bar::after {
  top: 0;
}




/* contact Section */

#contact {
  margin: 50px 0;
}

#contact .contact {
  flex-direction: column;
  width: 100%;
}

#contact .contact-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact .contact-item {
  width: 80%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  margin: 30px 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 18px 0 #0000002c;
  transition: 0.3s ease box-shadow;
}

#contact .contact-item:hover {
  box-shadow: 0px 0px 5px 0 #0000002c;
}

#contact .icon {
  width: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
}

#contact .contact-info h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}

#contact .contact-info h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
}

/*End contact Section */

/* Footer */

#footer {
  background: #33999e;
}

#footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}

#footer h1 {
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
#footer h2 {
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  margin-bottom: 20px;
}

#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
}

#footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 5px;
}

#footer .social-item img {
  filter: grayscale(1);
  transition: 0.3s ease filter;
}

#footer .social-item:hover img {
  filter: grayscale(0);
}

#footer p {
  color: white;
  font-size: 1.3rem;
}

/* End Footer */

/* Keyframes */

@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: white;
  }
}

  
  /* End Header section */

  @media only screen and (max-width: 600px) {
    #header .nav-bar .brand h1 {
      font-size: 2rem;
    }
  }
  @media only screen and (max-width: 800px) {
      .hover_effect:hover::after {
          display: none;
        }
  }
  /* Media Query For Tablet */
  
  @media only screen and (min-width: 800px) {
    #header .nav-bar .brand img {
      width: 15%;
      /* width: 45px; */
    }
    .cta {
      font-size: 2rem;
      padding: 10px 30px;
    }
    .section-title {
      font-size: 2.5rem;
    }
    /* contact  */
    #contact .contact {
      flex-direction: column;
      margin: 0 0;
      align-items: center;
      justify-content: center;
      min-width: 20vh;
    }
    #contact .contact-items {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 0;
      padding-top: 60px;
    }
    #contact .contact-item {
      width: 30%;
      margin: 0;
      flex-direction: row;
    }
    #contact .contact-item .icon {
      height: 100px;
      width: 100px;
    }
    #contact .contact-item .icon img {
      object-fit: contain;
    }
    #contact .contact-item .contact-info {
      width: 100%;
      text-align: left;
      padding-left: 20px;
    }
  }
  /* End contact  */
  
  /* End Media Query For Tablet */
  
  /* Media Query For Desktop */
  
  @media only screen and (min-width: 1100px) {
    #contact .contact {
      padding: 0 0;
    }
  }
  
  /* End  Media Query For Desktop */  


@keyframes hamburger_puls {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1.4);
    }
  }
@media only screen and (min-width: 1100px) {
    /* header */
    .nav-btn {
        width: 65%;
    }
    .nav-bar .brand {
      width: 30%;
    }
    .nav-bar .brand img {
      width: 20%;
    }
    .hamburger {
      display: none;
    }
    .nav-links {
        text-align: right;
        display: flex;
        justify-content: flex-end;
    }
    .nav-links > ul {
        position: relative;
        left: 0;
      flex-direction: row;  
      justify-content: flex-end;
      background-color: transparent;
      height: auto;
      width: fit-content;  
    }
    .nav-link > a {
        font-size: 1.7rem;
    }
    .nav-list ul li {
      display: inline-block;
    }
    .nav-list ul li a {
      font-size: 1.8rem;
    }
    .nav-list ul a:after {
      display: none;
    }
  }

  @media (max-width: 1100px) {
    .nav-links > ul  {
        overflow-x: hidden;
    }
  }