.test-feedback h1 {
    padding-bottom: 20px;
    color: #161361;
}

.data-stuff {
    color: black;
    /* font-size: 1.5rem; */
    font-weight: bold;
}

.data {
    color: #29bde4;
}

.email {
    text-decoration: underline;
    color: #29bde4;
}

iframe {
    width: 520px;
    height: 345px;
    border-radius: 5px;
}

#courses {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.page-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
}

#courses .card {
    position: relative;
    z-index: 0;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 200px;
    height: 200px;
    text-align: center;
    color: white;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
}

/* #courses .card:hover {
    border-radius: 20px;
    transform: translateY(20px);
} */

#courses .card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 110%;
    border-radius: 20px;
    background: linear-gradient(to bottom, rgba(51, 153, 158, 0.3), rgba(22, 19, 97, 0.9));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

#courses .card:hover:before {
    opacity: 1;
    border-radius: 20px;
}

.wrapper .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
}

#courses .content {
    position: relative;
    z-index: 3;
    color: #000;
    opacity: 0;
    display: none;
    transform: translateY(30px);
    transition: 0.5s all;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#courses .card:hover .content {
    opacity: 1;
    display: inline-flex;
    transform: translateY(0px);
}

.titlesRE {
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 1.2;
}


/*End Courses Section*/

#faqs {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.container-fluid {
    max-width: 90%;
    margin: 0 auto;
    padding: 70px 0 20px;
    width: 100%;
}

.acc h3 {
    font-size: 1.2rem;
    background-image: linear-gradient(60deg, #161361 0%, #29bde4 100%);
    color: #fff;
    padding: 5px 15px;
    margin: 0;
    cursor: pointer;
    letter-spacing: 2px;
    position: relative;
}

.acc h3:after {
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.acc.active h3:after {
    content: '-';
}

.contents {
    /* background-color: #006633; */
    border: 2px solid #161361;
    /* background-color: #fff; */
    color: #000;
    display: none;
}

.content-inner {
    padding: 10px;
    text-align: justify;
    color: #000;
    font-size: 1.2rem;
}

.contents * {
    margin-top: 0;
    line-height: 1.5;
    color: #000;
}

.acc {
    border-bottom: 1px solid #fff;
}

.video-block {
    margin: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cta {
    display: inline-block;
    margin-right: 20px;
    padding: 8px 15px;
    width: max-content;
    /* font-size: 1rem; */
    text-transform: uppercase;
    /* letter-spacing: .1rem; */
    margin-top: 30px;
}

.upload {
    font-size: 1.5rem;
}

.section-title {
    font-size: 4rem;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* Media Queries */

@media (min-width:1300px) {
    .page-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 1rem;
    }
    #courses .card {
        width: 300px;
        height: 300px;
    }
}

@media (max-width:1250px) {
    .page-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 1rem;
    }
    #courses .card {
        width: 250px;
        height: 200px;
    }
    iframe {
        width: 450px;
        height: 320px;
    }
    .section-title {
        font-size: 3rem;
        padding-top: 20px;
    }
}

@media (max-width: 950px) {
    .page-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 1rem;
    }
    #courses .card {
        width: 200px;
        height: 150px;
    }
    .titlesRE {
        text-align: center;
        font-size: 1.3rem;
    }
    iframe {
        width: 380px;
        height: 280px;
    }
    .section-title {
        font-size: 2.5rem;
        padding-top: 20px;
    }
}



@media (max-width: 1000px) {
    #courses .card:before {
        opacity: 1;
        background: linear-gradient(to bottom, rgba(51, 153, 158, 0.3), rgba(22, 19, 97, 0.9));
    }
    #courses .card .content {
        opacity: 1;
        display: flex;
    }
    #courses .card .content button {
        margin-top: 2%;
        margin-right: 0;
    }
}
@media (max-width: 768px) {
    .video-block {
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    iframe {
        width: 85%;
        height: 200px;
    }
}
@media (min-width: 680px) and (max-width: 810px) {
    .page-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 1rem;
    }
    #courses .card {
        width: 150px;
        height: 150px;
    }
    .titlesRE {
        text-align: center;
        font-size: 1.3rem;
    }
    iframe {
        width: 300px;
        height: 250px;
        margin-right: 10px;
    }
    .section-title {
        font-size: 2rem;
        padding-top: 20px;
    }
}
@media (max-width: 680px) {
    .page-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
    #courses .card {
        width: 100%;
        height: 200px;
        margin-bottom: 30px;
    }
    .titlesRE {
        text-align: center;
        font-size: 1.5rem;
    }
    .acc h3:after {
        content: '+';
        position: absolute;
        right: 10px;
        font-size: 20px;
        top: 50%;
        transform: translateY(-60%);
    }
}
@media (max-width: 400px) {
    .upload {
        font-size: 1.2rem;
    }
    iframe {
        width: 97%;
        height: 230px;
    }
}
