.utv_container {
    /* padding: 3%; */
    margin-top: 30px;
    color: #161361;
}

.points_container {
    margin-top: 2%;
    padding-left: 2%;
    font-weight: lighter;
    display: flex;
    justify-content: start;
    align-items: center;
}

.points_container i {
    flex: 0.5;
    /* width: 10%; */
    font-size: 2rem;
    padding-right: 2%;
    overflow: hidden;
}

.points_container h4 {
    flex: 10;
}

.fa-times-circle {
    color: maroon;
}

.fa-check-circle {
    color: green;
}

#test_error_message {
    margin-top: 3%;
    margin-bottom: 0;
    text-align: center;
    color: red;
}

.file_upload {
    margin-top: 2%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test_video_success_upload {
    display: none;
    font-size: 1.8rem;
    margin-top: 3%;
    text-align: center;
}

.test_video_success_upload i {
    font-size: 2.5rem;
    padding-right: 3%;
}

.loading_circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading_circle img {
    width: 70px;
}
.fa-chevron-circle-left{
    position: absolute;
    top: 10px;
    left: 5px;
}
.scrollTop{
    position: relative;
    width: 90px;
    height: 40px;
    background: #161361;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: 0.5s all;
}
.scrollTop:hover{
    background: #29bde4;
    color: white;
}

.cta {
    display: inline-block;
    margin-right: 20px;
    padding: 10px 15px;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    text-align: center;
}

@media (min-width: 768px) {
    .cta {
        font-size: 2.5rem;
        padding: 20px 60px;
    }
}


@media (max-width: 850px) {
    .backBtn {
        padding: 1% 4%;
    }
}
@media (max-width: 760px) {
    .file_upload {
        flex-direction: column;
        align-items: center;
        justify-content: center
        /* border: 1px solid black; */
    }
    .drop-zone {
        /* width: 100%; */
        margin-top: 5%;
        margin-bottom: 0;
    }
}

@media (max-width: 600px) {
    .backBtn {
        padding: 3% 5%;
    }
    .points_container {
        margin-top: 4%;
    }
    .points_container i {
        padding-right: 3%;
    }
    .drop-zone {
        width: 100%;
    }
    .test_video_success_upload {
        margin-top: 5%;
        font-size: 1.5rem;
    }
    .test_video_success_upload i {
        font-size: 2.5rem;
    }
}

@media (max-width: 350px) {
    .utv_container {
        padding: 0
    }
    .points_container {
        padding-left: 0;
    }
}