@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    /* background-color: #33999e; */
    /* background-color: rgba(51,153,158, 0.3); */
    background-color: #c5d5cb;
}

a {
    text-decoration: none;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#loading {
    position: fixed;
    width: 90%;
    height: 100vh;
    background: #fff url('https://i.gifer.com/7zxq.gif') no-repeat center center;
    z-index: 99999;
}

.top_heading {
    padding-bottom: 15px;
    color: #161361;
}

.data {
    color: #29bde4;
}

p {
    color: black;
    font-weight: bold;
    /* margin-bottom: 1%; */
}

.cta {
    cursor: pointer;
    color: white;
    outline: none;
    background-color: #161361;
    border: 2px solid #161361;
    transition: .3s ease;
    transition-property: background-color, color;
}

.cta:hover {
    color: white;
    font-weight: bold;
    background-color: #29bde4;
    border: 2px solid #29bde4;
}

.course_name {
    background-color: #33999e;
    padding: 1%;
    margin-bottom: 1%;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
}

.header {
    width: 100%;
    height: 50px;
    background: #161361;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 900;
}

@media (max-width: 500px) {
    .course_name {
        padding: 3%;
        margin-bottom: 3%;
    }
}

@media (max-width: 768px) {
    .header {
        font-size: 16px;
        height: 60px;
    }
}

@media (max-width: 568px) {
    .header {
        font-size: 14px;
    }
}